[user]
	email = sarah.kaiser@pensardevelopment.com
	name = Sarah Kaiser
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore_global
